<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>O meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Seção do Avatar e Nome -->
  <div class="profile-header">
    <div class="avatar">
      <ion-avatar>
        <img src="/assets/logo.png" alt="Perfil" />
      </ion-avatar>
    </div>
    <h2 class="username">nome utilizador</h2>
    <p class="description">
      <ion-icon name="create-outline"></ion-icon>
      descrição
    </p>
  </div>

  <!-- Dashboard -->
  <div class="dashboard">
    <div class="dashboard-item">
      <div class="circle"></div>
      <p>Viagens Feitas</p>
    </div>
    <div class="dashboard-item">
      <div class="circle"></div>
      <p>Comentários Feitos</p>
    </div>
  </div>

  <!-- Botões de Ação -->
  <div class="action-buttons">
    <ion-button expand="block" (click)="editProfile()">Editar Perfil</ion-button>
    <ion-button expand="block" color="medium" routerLink="/home" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
