<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão de Voltar -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Remover Título da Navbar -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Título "O meu Perfil" dentro do conteúdo -->
  <h1 class="page-title">O meu Perfil</h1>

  <!-- Seção do Avatar e Nome -->
  <div class="profile-header">
    <div class="avatar">
      <ion-avatar>
        <img src="assets/Logo_SemFundo.png" alt="Logo" class="logo" />
      </ion-avatar>
    </div>
    <h2 class="username">Nome Utilizador</h2>
    <!-- Campo de Descrição Editável -->
    <textarea [(ngModel)]="userDescription" class="description" placeholder="Descrição"></textarea>
  </div>

  <!-- Dashboard -->
  <div class="dashboard">
    <div class="dashboard-item">
      <div class="circle"></div>
      <p>Viagens Feitas</p>
    </div>
    <div class="dashboard-item">
      <div class="circle"></div>
      <p>Comentários Feitos</p>
    </div>
  </div>

  <!-- Botões de Ação -->
  <div class="action-buttons">
    <ion-button expand="block" (click)="editProfile()">Editar Perfil</ion-button>
    <ion-button expand="block" color="medium" routerLink="/home" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
