<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Fazer Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h1>Fazer Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form-wrapper">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required>
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required>
          <ion-icon slot="start" name="lock-closed"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="google-button">Inscreve-te com a Google</ion-button>
      <a class="register-link" routerLink="/register">Não tem conta? Registe-se</a>
      <ion-button expand="block" class="confirm-button" type="submit">Confirmar</ion-button>
    </form>
  </div>
</ion-content>
