<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h1>Fazer Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form-wrapper">
      <ion-item>
        <ion-input type="email" required>
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" required>
          <ion-icon slot="start" name="lock-closed"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="google-button">Inscreve-te com a Google</ion-button>
      <ion-button expand="block" routerLink="/index" class="confirm-button" type="submit">Confirmar</ion-button>
      <a class="register-link" routerLink="/signup">Não tem conta? Registe-se</a>
    </form>
  </div>
</ion-content>