.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form-wrapper {
    width: 100%;
    max-width: 400px;
  }
  
  .input-item {
    margin-bottom: 15px;
    --inner-padding-start: 10px; /* Espaçamento interno para o ícone */
  }
  
  ion-icon {
    font-size: 1.2rem;
    color: #333;
  }
  
  .google-button {
    margin: 15px 0;
    background-color: #4285f4;
    color: white;
    text-transform: none;
  }
  
  .confirm-button {
    margin-top: 10px;
    background-color: black;
    color: white;
    text-transform: none;
  }
  
  .register-link {
    display: block;
    margin-top: 10px;
    color: #4285f4;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }