<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão de Voltar -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Viagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Barra de pesquisa -->
  <ion-searchbar placeholder="Pesquisar" (ionInput)="filterViagens($event)"></ion-searchbar>

  <!-- Lista de Viagens -->
  <ion-list>
    <ion-item *ngFor="let viagem of filteredViagens">
      <ion-label>
        <h2>{{ viagem.prop1 }}</h2>
        <p>{{ viagem.description }}</p>
        <p>{{ viagem.type }} - {{ viagem.state }}</p>
        <p>Continente: {{ viagem.prop2 }}</p>
        <p>Data Inicial: {{ viagem.startAt | date: 'dd/MM/yyyy' }}</p>
        <p>Data Final: {{ viagem.endAt | date: 'dd/MM/yyyy' }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editViagem(viagem.id)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteViagem(viagem.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Botão Adicionar no canto inferior direito -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/criarviagens">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/viagens" class="footer-button">
            <ion-icon name="airplane" size="large"></ion-icon>
          </ion-button>
          <div>Viagens</div>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/index" class="footer-button">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-button>
          <div>Principal</div>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/perfil" class="footer-button">
            <ion-icon name="person" size="large"></ion-icon>
          </ion-button>
          <div>Perfil</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>