<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão de Voltar -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
     <!-- Título centralizado -->
     <div class="toolbar-title">
      <h1 class="central-title" class="content-center">Viagens</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-center">
  <!-- Barra de pesquisa -->
  <ion-searchbar placeholder="search"></ion-searchbar>

  <!-- Botão Adicionar no canto inferior direito -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"   routerLink="/criarviagens" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/viagens" class="footer-button">
            <ion-icon name="airplane" size="large"></ion-icon>
          </ion-button>
          <div>Viagens</div>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/index" class="footer-button">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-button>
          <div>Principal</div>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/perfil" class="footer-button">
            <ion-icon name="person"  size="large"></ion-icon>
          </ion-button>
          <div>Perfil</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
