<ion-content>
  <div class="perfil-container">
    <div class="perfil-info">
      <ion-avatar class="avatar">
        <ion-icon name="person" class="icon-perfil"></ion-icon>
      </ion-avatar>
      <div class="perfil-nome">Ola User</div>
    </div>
  </div>

  <ion-card>
    <ion-card-content text-center>
      <h2></h2>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" fill="clear" routerLink="/exibir-tudo" color="medium" style="text-align: right;">
    Exibir tudo
  </ion-button>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" class="footer-button">
            <ion-icon name="airplane" size="large"></ion-icon>
          </ion-button>
          <div>Viagens</div>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" class="footer-button">
            <ion-icon name="home" size="large"></ion-icon>
          </ion-button>
          <div>Principal</div>
        </ion-col>
        <ion-col size="auto" class="ion-text-center">
          <!-- Apenas o ícone é o botão -->
          <ion-button fill="clear" routerLink="/perfil" class="footer-button">
            <ion-icon name="person"  size="large"></ion-icon>
          </ion-button>
          <div>Perfil</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>




