<ion-content class="ion-padding custom-content">
  <div class="header">
    <ion-icon name="balloon-outline" class="logo-icon"></ion-icon>
    <h1 class="app-title">Travelwise</h1>
  </div>

  <div class="buttons-container">
    <ion-button expand="block" class="google-button">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Inscreve-te com a Google
    </ion-button>
    <ion-button expand="block" class="login-button">Login</ion-button>
    <ion-button expand="block" fill="outline" class="register-button">Registar</ion-button>
  </div>

  <div class="footer">
    <span class="version">V1.9</span>
    <ion-icon name="help-circle-outline" class="help-icon"></ion-icon>
  </div>
</ion-content>
