.custom-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  text-align: center; /* Centraliza o texto */
}


/* Header */
.header {
  margin-bottom: 20px; /* Espaço entre o cabeçalho e os botões */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.logo {
  max-width: 50%; /* Garante que a imagem não ultrapasse a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

@media (max-width: 390px) {
  .logo {
    max-width: 85%; /* Logo fica maior em dispositivos móveis */
  }
}

/* Botões */
.buttons-container {
  width: 100%; /* Garante que os botões ocupem toda a largura */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os botões */
}

.google-button {
  --background: #020304;
  --color: white;
  --border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px; /* Botões mais compactos */
  text-align: center;
}

.login-button {
  --background: #333;
  --color: white;
  --border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
}

.register-button {
  --color: #333;
  --border-color: #333;
  --border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
}

/* Footer */
.footer {
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
}

.footer-content {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center; /* Alinha verticalmente */
  margin-bottom: 10px; /* Espaço entre o conteúdo e os links */
}

.version {
  margin-right: 40px; /* Espaço entre a versão e o ícone */
}
.version {
  font-size: 1rem;
  color: #000;
}

.help-icon {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.help-icon:hover {
  transform: rotate(15deg);
  color: #666;
}
