<ion-content class="ion-padding custom-content">
  <!-- Header -->
  <div class="header">
    <!-- Imagem do balão -->
    <img src="/../../../assets/Logo_SemFundo.png" alt="Logo" class="logo" />
    <!-- Nome do aplicativo -->
    <h1 class="app-title">Travelwise</h1>
  </div>

  <!-- Botões -->
  <div class="buttons-container">
    <!-- Botão de registro com Google -->
    <ion-button expand="block" class="google-button">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Inscreve-te com a Google
    </ion-button>
    <!-- Botão de login -->
    <ion-button expand="block" class="login-button">Login</ion-button>
    <!-- Botão de registo -->
    <ion-button expand="block" fill="outline" class="register-button">Registar</ion-button>
  </div>

  <!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <span class="version">V1.9</span>
    <ion-icon name="help-circle-outline" class="help-icon"></ion-icon>
  </div>
</footer>
</ion-content>